

footer {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    justify-content: center;
    position: fixed;
    bottom: 0;
    max-height: 10vh;
    min-height: 10vh;
    grid-gap: 3rem;
}


img {
    max-height: 7.5vh;
}

footer div {
    animation: moving 120s linear infinite;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    justify-content: center;
    grid-gap: 0.5rem;
}

@keyframes moving {
    0% {
        transform: translateX(-1500%);
    }
    100% {
        transform: translateX(1000%);
    }
}