

footer {
    display: grid;
    grid-template-columns: repeat(250, 1fr);
    justify-content: center;
    bottom: 0;
    max-height: 10vh;
    min-height: 10vh;
    grid-gap: 3rem;
    animation: moving 120s linear infinite;
}


img {
    max-height: 5.5vh;
}

footer div {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
}

@keyframes moving {
    0% {
        transform: translateX(-1500%);
    }
    100% {
        transform: translateX(1500%);
    }
}