footer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    position: fixed;
    bottom: 0;
    max-height: 10vh;
    grid-gap: 1rem;
}

img {
    max-height: 7.5vh;
}

footer div {
    animation: moving 20s linear infinite;
}

@keyframes moving {
    0% {
        transform: translateX(-2000%);
    }
    100% {
        transform: translateX(2000%);
    }
}