body {
  display: grid;
  align-items: center;
  justify-items: center;
  align-self: center;
  background-color: gainsboro;
  height: 100vh;
}

header {
  display: grid;
  position: fixed;
  top: 0;
}

footer {
  display: grid;
  position: fixed;
  bottom: 0;
}
