.userName {
    color: whitesmoke;
    margin-bottom: 1vh;
    text-shadow: gold 0px 0px 5px;
    font: 1.5em 'Roboto';
}

.appName {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px goldenrod;
    margin-bottom: 1vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 1vh;
}

.appNameDiv {
    display: grid;
    grid-template-columns: 14fr 1fr;
    margin-bottom: 1vh;
    width: 100vw;
}

.signOutButton {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: goldenrod;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 1vh;
}

@media (max-width: 500px) {
    .appName {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr;
        font-size: 3rem;
    }
}