.userName {
    color: whitesmoke;
    margin-bottom: 1vh;
    text-shadow: goldenrod 0px 0px 5px;
}

.appName {
    display: grid;
    justify-items: center;
    font-size: 4rem;
    width: 100vw;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px goldenrod;
    margin-bottom: 1vh;
    font-family: 'Courier New', Courier, monospace;
}