header {
    width: 100vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

h1 {
    display: grid;
    justify-items: center;
    font-size: 4rem;
    width: 100vw;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px goldenrod;
    margin-bottom: 1vh;
    font-family: 'Courier New', Courier, monospace;
}

section {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 1vh;
}

h2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    font-size: 2rem;
    width: 100vw;
    color: whitesmoke;
}