.favorites {
  display: grid;
  height: 75vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.coins {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}