.noCryptos {
  display: grid;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  align-self: center;
  height: 100%;
  font-size: 4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: black 0.1em 0.1em 0.2em;
} 

.favoriteButton {
  color: whitesmoke;
  background-color: black;
  font-size: 3vw;
  max-width: 3vw;
  cursor: pointer;
}

.favoriteButton:hover {
  color: black;
  background-color: whitesmoke;
}

.coinsTable {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.coin {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.coinLabels {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.coinName:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .coinsTable {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
    background-color: rgb(32, 32, 32);
    max-height: 70vh;
    overflow: auto;
    border-radius: 1rem;
    border: 2px solid coral;
    margin-right: 15vw;
    margin-left: 15vw;
  }

  .coinsTable::-webkit-scrollbar {
    display: none;
  }

  .main {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
    background-color: rgb(32, 32, 32);
    max-height: 70vh;
    overflow: auto;
    border-radius: 1rem;
    border: 2px solid black;
    margin-right: 12vw;
    margin-left: 12vw;
  }

  .coin {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
    background-color: rgb(32, 32, 32);
    max-height: 70vh;
    overflow: auto;
    border-radius: 1rem;
    border: 2px solid black;
    margin-right: 15vw;
    margin-left: 15vw;
  }
}