.recon {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
    max-height: 70vh;
}

.newsContainer {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
    max-height: 70vh;
    overflow: auto;
    border-radius: 10rem;
}

.recon::-webkit-scrollbar {
    display: none;
}

.newsContainer::-webkit-scrollbar {
    display: none;
}

.news {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: whitesmoke;
    background-image: url(/client/public/metal-texture-background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 60vw;
    padding: 20px;
    margin-top: 20px;
    color: whitesmoke;
}

.aLink {
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.aLink:hover {
    color: rgb(197, 141, 0);
    text-shadow: 2px 2px 2px black;
}

.aLink:visited {
    color: rgb(26, 0, 0);
}

.header {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem;
}