.authMainDiv {
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.loginFont {
    color: mediumturquoise;
    text-shadow: coral 1px 1px 1px;
    font-size: 3rem;
    text-align: center;
}

.authButton {
    background-color: black;
    color: coral;
    border: 2px solid mediumturquoise;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.authDiv {
    border: solid 3px coral;
    background-color: black;
    width: 60vw;
}

@media (max-width: 500px) {
    .authDiv {
        width: 80vw;
    }
}