.authMainDiv {
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.loginFont {
    color: black;
    text-shadow: whitesmoke 1px 1px 1px;
    font-size: 3rem;
    text-align: center;
}

.authButton {
    background-color: black;
    color: goldenrod;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.authDiv {
    border: solid 3px black;
    background-color: goldenrod;
    width: 60vw;
}

@media (max-width: 500px) {
    .authDiv {
        width: 80vw;
    }
}