.header {
    display: grid;
    font-size: 3rem;
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
}

.div {
    display: grid;
    font-size: 2rem;
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

.nftInfo {
    display: grid;
    font-size: 1.5rem;
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

.nft {
    display: grid;
    font-size: 1.5rem;
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}