.header {
    display: grid;
    font-size: 3rem;
    color: whitesmoke;
}

.div {
    display: grid;
    font-size: 2rem;
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    height: 70vh;
}

.nftInfo {
    display: grid;
    font-size: 1.5rem;
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.nft {
    display: grid;
    font-size: 1.5rem;
    color: whitesmoke;
    justify-content: center;
    justify-items: center;
    align-items: center;
}